<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CC_StationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CC_StationService.Properties.Settings>
            <setting name="FtpUrl" serializeAs="String">
                <value>ftp://192.168.0.163</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHours" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SavePathForLinux" serializeAs="String">
                <value>/home/WeatherImages</value>
            </setting>
            <setting name="SavePathForWindows" serializeAs="String">
                <value>d:\WeatherImages</value>
            </setting>
            <setting name="DeletePreviousFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteHowHoursAgo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SubDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Download" serializeAs="String">
                <value>False</value>
            </setting>
        </CC_StationService.Properties.Settings>
    </userSettings>
</configuration>
