/.vs
/.svn
**/.moc 
**/x64
**/.obj
**/.pch
**/.rcc
**/.uic
/lib
**/bin
/zx_config
/plugins
/ipch
/mkspecs
/tests
*.cache
*.tag
*.sdf
LICENSE.*
LGPL_EXCEPTION.txt
/dist
/examples
qttools.pro.user
qttools.pro.user.*
