<div class="row"  *ngIf="totalPage>1">
    <nav class="col-md-6">
        <ul class="pagination">
            <li [class.disabled]="currentPageIndex===1">
                <a (click)="prevClicked()" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li (click)="pageClicked(p)" *ngFor="let p of pages" [ngClass]="setState(p)"><a href="#">{{p.index}}</a></li>
            <li [class.disabled]="currentPageIndex===totalPage">
                <a (click)="nextClicked()" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="input-group col-md-5 page-indicator">
        <span class="input-group-addon">当前第</span>
        <input type="text" #pageInput  (keyup.enter)="pageKeyup(pageInput.value)" 
               class="form-control" [value]="currentPageIndex" aria-describedby="basic-addon1">
        <span class="input-group-addon">页</span>
        <span class="input-group-addon">/ 共{{totalPage}}页</span>
        <span class="input-group-btn">
            <button (click)="pageGoto(pageInput.value)" class="btn btn-default" type="button">转到！</button>
        </span>
    </div>
</div>